extends layout

block content
  h1= title
  if (toShow == null)
     h2 No instance to update
  else
    - let peacockid = toShow._id
    - let peacock_color  = toShow.peacock_color 
    - let peacock_breed  = toShow.peacock_breed
    - let peacock_price = toShow.peacock_price
  div.row(class='mb-2')
    div.mr-1 ID is
    div #{peacockid}
  - let actionid = "/resource/peacocks/" + peacockid
  form(id='peacockForm', action=actionid, method="PUT")
    div.form-group
      label.peacockAttr(for='peacock_color') peacock_color
      input#peacock_color(type='text', name='peacock_color', value=peacock_color )
    div.form-group
      label.peacockAttr(for='peacock_breed') peacock_breed
      input#peacock_breed(type='text', name='peacock_breed', value=peacock_breed )
    div.form-group
      label.peacockAttr(for='peacock_price') peacock price
      input#peacock_price(type='number', name='peacock_price', value=peacock_price )
    input(type="submit")
  script.
    document.forms['peacockForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show the user that the form is being submitted
      fetch(event.target.action, {
        method: 'PUT',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Update succeeded");
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Update failed " + error);
      });
    });
