extends layout

block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let peacockid = toShow._id
    - let peacock_color = toShow.peacock_color
    - let peacock_breed = toShow.peacock_breed
    - let peacock_price = toShow.peacock_price
    - let actionid = "/resource/peacocks/" + peacockid
    script.
      let actionid = "#{actionid}"
    div
      div.row
        div(class='peacockAttr mr-3') Peacock ID is:
        div #{peacockid}
      div.row
        div(class='peacockAttr mr-3') Peacock peacock_color is:
        div #{peacock_color}
      div.row
        div(class='peacockAttr mr-3') Peacock peacock_breed is:
        div #{peacock_breed}
      div.row
        div(class='peacockAttr mr-3') Peacock peacock_price is:
        div #{peacock_price}
      button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
      button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
    script.
      function cancel() {
        // Go back to the home page for the costume collection
        window.location.href='/peacock'
      }
    script.
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.text(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeeded")
          window.location.href='/peacock'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error )
        });
      }
